/* Global CSS for all pages */
 
body {
    background: #f8f9fa;
}

/* navbar */

.nav-item .nav-link {
    text-align: center;
    color: #ffbd59;
    font-size: x-large;
}
#SignUp{
    border-style: solid;
    background-color: rgb(255, 255, 255);
    box-shadow: 7px 7px #ffbd59;
    margin-bottom: 2%;
    font-family: "montserrat", sans-serif;
}
#fullName{
    border-style: solid;
}