/* Global CSS for all pages */
 
body {
    background: #f8f9fa;
}

.navbar.navbar-expand-lg.navbar-light {
    background-color: #262626;
    height: 3rem;
}

.nav-item .nav-link {
    text-align: center;
    font-family: sans-serif;
    color: #dad7cd;
    font-weight: lighter;
}

.nav-item .nav-link:hover {
    background-color: #f8f9fa;
    color:#262626
}

