/* Global CSS for all pages */
 
body {
    background: #f8f9fa;
}

/* navbar */

.navbar.navbar-expand-lg.navbar-dark.bg-black.static-top {
    box-shadow: 0px 5px grey;
}

.nav-item .nav-link {
    text-align: center;
    color: #ffbd59;
    font-size: x-large;
}
