/* Landing Page CSS */

.login {
    border-style: solid;
    border-width: 5px;
    font-family: impact, sans-serif;
    background-color: rgb(255, 255, 255);
    box-shadow: 7px 7px #ffbd59;
    margin: 8% 8% 10% 10%;
    box-sizing: content-box;
}

 .single-input{
    display: flex;
    margin-bottom: 20px;
}

.single-input i{
    padding: 16px 16px;
}

.aboutTitle {
    font-family: impact, sans-serif;
    margin-top: 30%;
    margin-left: 20%;
}

.aboutP {
    font-family: "montserrat", sans-serif;
    width: 50%;
    margin-left: 20%;
} 

.aboutDiv {
    background-image: url("../images/moonAndStars.png");
    background-repeat: no-repeat;
    background-position: top right;
    height: auto;
}