.nav-tabs .nav-link {
        color: #888; /* Light gray color */
        font-size: 0.8em; /* Smaller text */
        border: none !important;
    }
    
    .nav-tabs .nav-link::before {
        content: attr(data-count);
        color: #000; /* Bold black color */
        font-size: 1.2em; /* Larger text */
        font-weight: bold; /* Bold font */
        display: block; /* Display as block to put it above the text */
    }
    
    .nav-tabs .nav-item:not(:last-child) {
        border-right: 1px solid #ccc; /* Faint gray line */
    }

    #center-col {
        background-image: url('https://images5.alphacoders.com/112/thumb-1920-1123013.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        padding: 15px; /* you can adjust as needed */
      }
      
      .card {
        margin: 15px; /* add space around the cards */
      }

      