.nav-tabs .nav-link {
        color: #888;
        font-size: 0.8em; 
        border: none !important;
    }
    
    .nav-tabs .nav-link::before {
        content: attr(data-count);
        color: #000; 
        font-size: 1.2em; 
        font-weight: bold; 
        display: block; 
    }
    
    .nav-tabs .nav-item:not(:last-child) {
        border-right: 1px solid #ccc; 
    }

    #center-col {
        background-image: url('/video/HD-wallpaper-moon-surface-astronaut-earth-galaxy-stars-space.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        padding: 15px; 
      }
      
      .card {
        margin: 15px;
      }

      