

body, .navbar, .container-fluid {
  margin: 0 !important;
  padding: 0 !important;
}

.navbar {
  border: none !important;
  box-shadow: none !important;
}

.nav-tabs .nav-link {
  color: #888;
  font-size: 0.8em;
  border: none !important;
}

.nav-tabs .nav-link::before {
  content: attr(data-count);
  color: #000;
  font-size: 1.2em;
  font-weight: bold;
  display: block;
}

.nav-tabs .nav-item:not(:last-child) {
  border-right: 1px solid #ccc;
}

#center-col {
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px;
}

.card {
  margin: 15px;
  transition: transform 0.2s; /* Animation */
  border-style: solid black;
  padding: 3rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 7px 7px #ffbd59;
  z-index: 2;
  font-family: "montserrat", sans-serif;
}

.card.mb-3 {
  border-style: solid black;
  font-family: "montserrat", sans-serif;
}

.card.my-2 {
  box-shadow: none !important;
  font-family: "montserrat", sans-serif;
  padding: 3px;
}

.card:hover {
  transform: scale(1.05); 
}

.bg-gold {
  background-color: goldenrod;
}

.nav-link.nav-text {
  font-size: 14px; 
}

.nav-icon {
  font-size: x-large;
}

.rounded-circle {
  width: 120px; 
  height: 120px; 
  border-radius: 50%;
  object-fit: cover; 
  margin-top: 50px; 
  transition: transform 0.2s;
  filter: grayscale(0%);
  z-index: 1;
}

.rounded-circle:hover {
  transform: scale(1.05); 
}

.profile-banner {
  background: url('../images/stars.jpg') no-repeat center center;
  background-size: cover; 
  position: absolute;
  top: 0;
  left: 1;
  right: 1;
  bottom: 59%;
  width: 100%; 
  z-index: 1;
}

.user-name {
  font-size: 1.5em; /* Adjust to make the username smaller */
  font-family: "montserrat", sans-serif;
  color: white;
}

.user-detail {
  color: gray;
  font-size: 0.8em;
  font-family: "montserrat", sans-serif;
  
}

.about-me, .photos, .friends {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  font-family: "montserrat", sans-serif;
  color: white;
}

.image-circle {
  width: 60px; 
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: -15px;
}

.friends-count {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: goldenrod;
  color: white;
  font-size: 0.9em;
  display: flex;
  justify-content: center;
  align-items: center ;
  margin-top: -15px;
  margin-bottom: 10px;
}

.card-title{
  font-family: "montserrat", sans-serif;
  letter-spacing: 2px;
  font-weight: bold;
}

.user-circle{
  margin-top: 5px;
  margin-bottom: 5px;
}

.search-bar {
  position: sticky;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background: #f8f9fa;
  border-top: 1px solid #dee2e6;
}