#SignUp{
        /* margin-top: 10rem;
        margin-bottom: 10rem; */
        border-style: solid;
        padding: 3rem;
        /* font-family: impact, sans-serif; */
        background-color: rgb(255, 255, 255);
        box-shadow: 5px 5px grey;
        height: 70%;
    };
*{
    background-color: aqua !important;
}